html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    height: 100vh;
    font-size: 18px;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.library {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    grid-gap: 15px;
    flex: 3 1 auto;
}

.book-container {
    background-color: aliceblue;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.new-book {
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px black;
}

/* book dialog form styling **/

#add-book-dialog {
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
}

.add-book-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bttn-section {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.dialog-bttn {
    margin-left: 5px;
}

input:focus {
    outline: none;
}

input.error {
    border: 1px solid red;
    box-shadow: 0px 0px 5px red;
}

.error-mssg {
    width: 100%;
    font-size: 1rem;
    background-color: #EEEEEE;
}